body {
    margin: 0;
    padding:0;
    border: 0;
  }
  #big-container {
      background-color: #F29E4C;
      padding: 10px;
  }
  
  #container {
      display: flex;
      vertical-align: top;
      margin: 10px;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 200%; 
  }

  #container > div.cards {
          width: 300px;
          height: 300px;
          border: 5px solid #A4036F;
          border-radius: 50%;
          padding: 25px;
          margin: 20px;
          background-color: #D9D9D9;
          text-align: center;
          justify-content: center;
          display:flex;
          flex-direction:column;
          line-height: 20px;
          
          background-size: cover;
          background-position: center;
          /* background-blend-mode: lighten; */
  }
  /* .cards p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    }

  .cards p:nth-of-type(2) { 
    padding-left: 30px;   
    padding-right: 30px; }
  .cards p:nth-of-type(3) { 
    padding-left: 40px; 
    padding-right: 40px; }
  .cards p:nth-of-type(4) { 
    padding-left: 50px; 
    padding-right: 50px; 
  } */

      h1 {
          margin-top: 0;
          font-family: "Titan One", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 5em;
          color: #A4036F;
          text-shadow:
              3px 3px 0 #ffffff,
              -3px 3px 0 #ffffff,
              -3px -3px 0 #ffffff,
              3px -3px 0 #ffffff;
          text-align: center;
      }
      
      h2 {
          font-family: "Titan One", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 2em;
          color:  #284B63;
          text-align: center;
          line-height: 30px;
          padding-top: 45px;
          text-shadow:
              1px 1px 0 #ffffff,
              -1px 1px 0 #ffffff,
              -1px -1px 0 #ffffff,
              1px -1px 0 #ffffff;

  
      }

      h3 {
          font-family: "Comic Neue", cursive;
          font-weight: 700;
          font-style: normal;
          font-size: 1em;
          color:  #284B63;
          text-align: justify;
          /* line-height: 5px; */
  
      }



      p {
          font-family: "Chewy", system-ui;
          font-weight: 400;
          font-style: normal;
          font-size: 1.5em;
          color: #16DB93;
          text-shadow:
              1px 1px 0 #284B63,
              -1px 1px 0 #284B63,
              -1px -1px 0 #284B63,
              1px -1px 0 #284B63;
          line-height: 0.5px;
          list-style-type: square;            
      }

      a:link {
         color:#16DB93; 
        }
      .icon {
        height:2.5rem;

      }

/* dropdown section  */
    .dropbtn {
          background-color: #284B63 ;
          color: white;
          padding: 16px;
          font-family: "Chewy", system-ui;
          font-weight: 400;
          font-size: 16px;
          border-radius:200%;
          position: relative;
          display: inline-block;
          text-align: center;
          }

/* Dropdown Content (Hidden by Default) */
      .dropdown-content {
          display: none;
          position: absolute;
          min-width: 160px;
          z-index: 1;
          font-family: "Chewy", system-ui;
          font-weight: 400;
          color: #284B63;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content :hover {background-color: #ddd; border-radius: 150%;}

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {display: block;}

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {background-color: #A4036F;}
  
/* food icon button section  */
      #button-container {
              margin-bottom: 20px;
              display: block;
              float: left;

          }
      button {
        padding: 5px;
        border-radius: 50px;
        border: none; 
         }
      
      button.hover {
        cursor: pointer;
          }

        button.clicked {
              /* background-color: #284B63;
              color: #fff; */
              /* border: 1px solid #fff; */
              cursor: pointer; 
          }

        #datalist {
          display:none;
        }
      



  @media (max-width: 600px) {

  #container {
      max-width: 300px;
      padding:10px;
      }
  h1 {
      font-size: 3.5em;
  }
  }

  @media (min-width: 601px) and (max-width: 1199px) { 

  #card-container {
      max-width: 525px;
      padding: 20px; 
  } 
  }